/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

/* General */
body {
    margin:  5px 0 0 265px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color:white;
}

/* carousel section */

#carousel {
    margin: 0 auto;
    width: 500px;
    height: 450px;
    position: relative;
}

#Gallery{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#carousel .bi {
    color:white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 5px;
    border: 2.5px solid white;
    border-radius: 10px;
}

#next {
    left: 105%;
    transition: 0.1s;
}

#back {
    right: 105%;
    transition: 0.1s;
}

.caption {
    position: absolute;
    left: 30px;
    top: 100px;
    padding: 10px;
    color: white;
}

.caption h1 {
    font-size: 25px;
    margin-bottom:15px;
    text-align: right;
}
.caption .description {
    font-size: 18px;
    text-align: right;
    text-shadow: 1px 1px black;
}

/* Effetti al click */

#next:active,
#back:active {
    background-color: white;
    color:grey;
}

/* thumbnail */

.thumbnail {
    margin-top: 20px;
}

.filtered {
    filter: grayscale(1);
}